project_id     = "replace-me"
project_number = "123456789012"

gcp_region              = "us-central1"
kms_location            = "us-central1"
secret_replica_location = "us-central1"

workload_identity_pool_id = "replace-me"
wif_subject               = "system:serviceaccount:secrets-gcp:eso-gcp-auth"

namespace            = "secrets-gcp"
service_account_name = "eso-gcp-auth"

secret_name_prefix = "ra-demo"

secret_values = {
  DB_USERNAME = "demo-user"
  DB_PASSWORD = "replace-me"
  API_TOKEN   = "replace-me"
}
