AWS_REGION=us-east-1
AWS_OIDC_ISSUER_URL=https://oidc.cks.coreweave.com/id/replace-me
AWS_OIDC_PROVIDER_ARN=arn:aws:iam::123456789012:oidc-provider/oidc.cks.coreweave.com/id/replace-me
AWS_SECRET_ROLE_ARN=arn:aws:iam::123456789012:role/ra-eso-aws-secrets-reader
NAMESPACE=secrets-aws
SERVICE_ACCOUNT_NAME=eso-aws-auth
