INFISICAL_HOST_API=https://app.infisical.com
INFISICAL_PROJECT_SLUG=replace-me
INFISICAL_ENVIRONMENT_SLUG=dev
INFISICAL_SECRETS_PATH=/
INFISICAL_MACHINE_IDENTITY_ID=replace-me
NAMESPACE=secrets-infisical
SERVICE_ACCOUNT_NAME=eso-infisical-auth
